$black: #000000;
$white: #ffffff;
$secondary: #e2dedf;
$background: #efcdc7;
$backgroundOpacity: rgba(239, 205, 199, 0.3);
$backgroundLightPink: #faf1ee;
$gradient: linear-gradient(134.56deg, #cc8f75 9.69%, #b17f82 29.76%, #edb5a5 59.15%, #ffe9c5 81.51%, #edb5a5 102.17%);
$brand: #edb5a5;
$gray: #afafaf;
$green: #a5e158;
$background-input: #f4f1f3;
$grey-text: #767676;
$transparent: rgba(0, 0, 0, 0);
$halfTransparent: rgba(0, 0, 0, 0.5);
$white-color: #fff;
$grey-dark: #383838;
$grey-dark-secondary: #484848;
$brand-background: rgba(239, 205, 199, 0.3);
$light-background: #e7e0e2;
$white-lines: rgba(255, 255, 255, 0.4);
$grey-light-stroke: #dfdfdf;
$calendar-background: #f8f8f8;
$grey-inactive: #d9d9d9;
$grey-background: rgba(234, 228, 230, 0.5);
$grey: #b6b6b6;
$grey-snippet: #858585;
$grey-snippet-time: #a3a3a3;
$grey-date-text: #c2c2c2;
$grey-dark-text: #3b3b3b;

$brand-box-shadow: 0 0 0 0.2rem rgba(237, 181, 165, 1);
$grey-box-shadow: 0 0 0 0.2rem rgb(193, 191, 191);

$main-color: #d7bd35;
$black: #000000;
$grey-light: #e5e5e3;
$grey-stroke: #e7e9ee;
$gold-light: #f4e8af;
$gold-light2: #fffae5;
$gold2: #e9d060;
$grey-background: #f4f5f7;
$red: red;
$blue-indicator: #85a7ff;
$red-indicator: #ff74b7;
$purple-indicator: #d988ed;

$gold-box-shadow: 0 0 0 0.2rem rgba(215, 189, 53, 0.5);
